{% extends "base.html" %}
{% block content %}
<div id="memebers">
    <div class="member">
        <div>
            <img src="../static/ahmadifar.jpg"/>
        </div>
        <ul>
            <li>
                Name : Dr.Ahmadifar
            </li>
            <li>
                Position : head of computer group
            </li>

            <li>
                Specialty : Computer Architecture
            </li>
        </ul>
    </div>
    <div class="member">
        <div>
            <img src="../static/mir.jpg"/>
        </div>

        <ul>
            <li>
                Name : Dr.Mirroshandel
            </li>
            <li>
                Position : member of computer group
            </li>

            <li>
                Specialty : Artificial Intelligence
            </li>
        </ul>

    </div>
    <div class="member">
        <div>
            <img src="../static/190.jpg"/>
        </div>
        <ul>
            <li>
                Name : Dr.Shahbahrami
            </li>
            <li>
                Position : member of computer group
            </li>

            <li>
                Specialty : Image Proccesing
            </li>
        </ul>
    </div>
    <div class="member">
        <div>
            <img src="../static/Mahdi Aminian1.jpg"/>
        </div>
        <ul>
            <li>
                Name : Dr.Aminian
            </li>
            <li>
                Position : member of computer group
            </li>

            <li>
                Specialty : Electricity
            </li>
        </ul>


    </div>
    <div class="member">
        <div>
            <img src="../static/448.jpg"/>
        </div>
        <ul>
            <li>
                Name : Dr.Atani
            </li>
            <li>
                Position : member of computer group
            </li>

            <li>
                Specialty : Electronic
            </li>
        </ul>


    </div>
</div>
{% endblock %}