{% extends "base.html" %}
{% block content %}


<div id="addPost">
    <form method="post" action="add-post">
        <label for="title"> title : </label>
        <input id="title" name="title" type="text" placeholder="Title"/>
        <label for="category">Category : </label>
        <input id="category" name="category" type="text"/>
        <label for="content">Content : </label>
        <textarea id="content" name="content" type="text"></textarea>
        <label for="date">Date : </label>
        <input id="date" name="date" type="text" placeholder=" day month"/>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
