<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/518324.png">
    <title>
        CE.GUILAN

    </title>
</head>
<body>
<div class="container">
    <div id="header">
        <div class="hwlc">
            <h1> Welcome To Computer Engineering Web Site</h1>
        </div>
    </div>
    <div class="navHorizonial">

        <ul>
            <li><a href="http://127.0.0.1:8080/">Home</a></li>
            <li><a href="http://127.0.0.1:8080/add-post">Add Post</a></li>
            <li><a href="http://127.0.0.1:8080/register">Sign Up</a></li>
            <li><a href="http://127.0.0.1:8080/login">login</a></li>
            <li><a href="http://127.0.0.1:8080/about">About</a></li>

        </ul>

    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
